<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.rjfun.cordova.mobfox"
	version="2.1.0">
      
    <name>MobFox Ad</name>
	<description>Cordova/PhoneGap plugin for MobFox, support Banner, Interstitial and Video Ad. Support many Ad networks with server-side integration to maximize revenue.</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>ad,mobfox,rjfun</keywords>
    <repo>https://github.com/floatinghotpot/cordova-mobfox.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-mobfox/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/MobFox.js" name="MobFox">
        <clobbers target="window.MobFox" />
    </js-module>

	<dependency id="com.rjfun.cordova.extension"/>
	<dependency id="com.google.cordova.admob"/>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MobFox">
                <param name="android-package" value="com.rjfun.cordova.mobfox.MobFoxPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/MobFoxPlugin.java" target-dir="src/com/rjfun/cordova/mobfox" />
		
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.adsdk.sdk.banner.InAppWebView" 
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
			
			<activity android:name="com.adsdk.sdk.video.RichMediaActivity" 
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"    
			android:hardwareAccelerated="false" />
			
			<activity android:name="com.adsdk.sdk.mraid.MraidBrowser" 
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
          </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
	        <uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
          </config-file>
          
        <source-file src="src/android/MobFoxAdSdk_6.0.0.jar" target-dir="libs" />
     </platform>
     
     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="MobFox">
                 <param name="ios-package" value="MobFoxPlugin" />
             </feature>
         </config-file>
         <header-file src="src/ios/MobFoxPlugin.h"/>
         <source-file src="src/ios/MobFoxPlugin.m"/>
         
        <framework src="src/ios/MobFox.framework" custom="true"/>
        
        <framework src="AudioToolbox.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="iAd.framework"/>
        <framework src="StoreKit.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="MessageUI.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="EventKit.framework"/>
        <framework src="EventKitUI.framework"/>
        <framework src="AdSupport.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="CoreLocation.framework"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="CoreGraphics.framework"/>
	</platform>

</plugin>
