<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.rjfun.cordova.mobfox"
	version="2.0.0">
      
    <name>MobFox Ad</name>
	<description>Cordova/PhoneGap plugin for MobFox, support Banner, Interstitial and Video Ad. Support many Ad networks with server-side integration to maximize revenue.</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>ad,mobfox,rjfun</keywords>
    <repo>https://github.com/floatinghotpot/cordova-mobfox.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-mobfox/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/MobFox.js" name="MobFox">
        <clobbers target="window.MobFox" />
    </js-module>

	<dependency id="com.rjfun.cordova.ad" version=">=1.0.0"/>
    <dependency id="com.mobfox.sdk" version=">=6.0.0"/>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MobFox">
                <param name="android-package" value="com.rjfun.cordova.mobfox.MobFoxPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/cordova-mobfox.jar" target-dir="libs" />
		
     </platform>
     
     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="MobFox">
                 <param name="ios-package" value="MobFoxPlugin" />
             </feature>
         </config-file>
         <source-file src="src/ios/libCordovaMobFox.a" framework="true" compiler-flags="-force_load"/>
	</platform>

</plugin>
